{:deps {org.apache.kafka/kafka_2.12 {:mvn/version "1.0.0"}
        org.apache.avro/avro {:mvn/version "1.8.2"}
        org.apache.avro/avro-tools {:mvn/version "1.8.2"}
        com.grammarly/perseverance {:mvn/version "0.1.2"}
        ring {:mvn/version "1.6.3"}
        ring/ring-devel {:mvn/version "1.6.3"}
        compojure {:mvn/version "1.6.0"}}}
